# Ignore everything by default
*
!.gitignore
# Don't ignore directories
!*/
# Don't ignore source code files
!*.cpp
!*.c
!*.h
!*.hpp
!*.sh
!*.py
!Makefile
# Don't ignore other text files
!*.txt
!*.csv
!*.md
!*.json
!*.yaml
!*.yml

# ignore the build directory and its contents
build/
.DS_Store

# Ignore anything that begins with an underscore
_*
